* {
  border: none;
  border-radius: 0px;
  /* font-family: "Noto Sans Medium", Helvetica, Arial, sans-serif; */
  font-family: "CaskaydiaCove Nerd Font", monospace;
  font-size: 18px;
  min-height: 0;
}

window#waybar {
  /* background-color: transparent; */
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

#workspaces button {
  color: #ffffff;
  box-shadow: inset 0 -3px transparent;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.9);
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.active {
  background-color: #64727d;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#clock,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#window,
#image,
#workspaces {
  /* padding: 3 10px; */
  margin: 0 5px;
}

#custom-quit,
#custom-lock,
#custom-reboot {
  padding: 0 10px;
}

#custom-power {
  padding: 0 15px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock,
#cpu,
#memory,
#network,
#temperature,
#custom-power,
#pulseaudio {
  color: #ffffff;
}

#network.disconnected {
  /* background-color: #f53c3c; */
  color: #f53c3c;
}

#pulseaudio.muted {
  background-color: #000000;
  color: #ffffff;
}

#custom-power:hover {
  /* background-color: #333333; */
  background-color: #f53c3c;
}

#custom-quit:hover,
#custom-reboot:hover {
  background-color: #f53c3c;
}
